---
import Layout from "@/layouts/Layout.astro"

import AboutMe from "@/components/AboutMe.astro"
import Briefcase from "@/components/icons/Briefcase.astro"
import CodeIcon from "@/components/icons/Code.astro"
import Experience from "@/components/Experience.astro"
import ProfileCheck from "@/components/icons/ProfileCheck.astro"
import Projects from "@/components/Projects.astro"
import SectionContainer from "@/components/SectionContainer.astro"
import Hero from "@/components/Hero.astro"
import TitleSection from "@/components/TitleSection.astro"
---

<Layout
  title="Castillo Ignacio Professional IT Technician - Services"
  description="I offer affordable IT services. Specialized in computer maintenance, operating system installation, and software optimization, always focused on efficient and accessible solutions to improve your device’s performance."
>
  <main class="px-4">
    <SectionContainer class="py-16 md:py-36">
      <Hero>
      </slot>
    </Hero>
    </SectionContainer>
    <div class="space-y-24">
    <SectionContainer id="experience">
      <TitleSection>
        <Briefcase class="size-8" />
        Technical Skills & Services
      </TitleSection>
      <Experience />
    </SectionContainer>

    <SectionContainer id="execution">
      <TitleSection>
        <ProfileCheck class="size-8" />
        Work Execution
      </TitleSection>
      <AboutMe />
    </SectionContainer>

    <SectionContainer id="projects">
      <TitleSection>
        <CodeIcon class="size-7" />
        Projects
      </TitleSection>
      <Projects />
    </SectionContainer>
  </div>
  </main>
</Layout>
