---
import ExperienceItem from "./ExperienceItem.astro";

const SERVICES = [
  {
    time: "8 hours to 2 days",
    title: "Hardware and Software Cleaning",
    price: "$4,500",
    description:
      "Preventive and corrective maintenance of computer equipment, including physical cleaning of hardware components and optimization of operating systems. Removal of junk files and resolution of performance issues.",
  },
  {
    time: "15 to 50 minutes",
    title: "Windows and Office Activation",
    price: "$500",
    description:
      "Remote activation of Windows operating systems and Microsoft Office, allowing activation without moving the computer from your home. I also provide a detailed explanation of why the method I use is the safest and most reliable.",
  },
  {
    time: "4 to 12 hours",
    title: "Operating System and Office Suite Installation",
    price: "$3,500",
    description:
      "Installation of Windows operating systems, both official and optimized versions. Includes installation of office software packages with permanent activation for both services.",
  },
  {
    time: "1 to 3 days",
    title: "Government Computer Unlocking",
    price: "$15,000",
    description:
      "In collaboration with my colleague Ramiro Rojas, we unlock government-issued computers, including devices from the Conectar Igualdad program and older models. This service provides a permanent solution, ensuring that devices can be used without restrictions.",
  },
];
---

<ol class="relative mt-16">
  {
    SERVICES.map((experience) => (
      <li>
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
