---
import ExperienceItem from "./ExperienceItem.astro";
const SERVICES = [
  {
    time: "de 8hrs a 2 días",
    title: "Limpieza de Hardware y Software",
    price: "$ 4.500",
    description:
      "Realizo mantenimiento preventivo y correctivo de equipos informáticos, incluyendo la limpieza física de componentes de hardware y la optimización de sistemas operativos. También elimino archivos innecesarios, soluciono problemas de rendimiento y garantizo el correcto funcionamiento de los dispositivos.",
  },
  {
    time: "de 15m a 50m",
    title: "Activación de Windows y Office",
    price: "$ 500",
    description:
      "Ofrezco la activación remota de sistemas operativos Windows y Microsoft Office, permitiéndote recibir el servicio en minutos desde la comodidad de tu hogar. Además, proporciono una explicación detallada sobre por qué la metodología que utilizo es la más segura y confiable",
  },
  {
    time: "de 4hrs a 12hrs",
    title: "Instalación de Sistema Operativo y Paquetes de Ofimática",
    price: "$ 3.500",
    description:
      "Realizo la instalación de sistemas operativos Windows, tanto versiones oficiales como optimizadas, asegurando su correcto funcionamiento. Además, llevo a cabo la instalación de programas de ofimática, ofreciendo una configuración completa con activación permanente de ambos servicios.",
  },
  {
    time: "de 1 a 3 días",
    title: "Desbloqueo de Computadora Del Gobierno",
    price: "$ 15.000",
    description:
      "En colaboración con mi compañero Ramiro Rojas, realizamos el desbloqueo de computadoras otorgadas por el gobierno, incluyendo equipos de la línea Conectar Igualdad y modelos más antiguos. Este servicio garantiza una solución permanente, asegurando que los dispositivos puedan ser utilizados sin restricciones.",
  },
];
---

<ol class="relative mt-16">
  {
    SERVICES.map((experience) => (
      <li class="">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
